.appointments {
    padding-top: 0.7em;
    min-height: 8em;
}

.calendarDay-btn {
    border-radius: 50px;
    background-color: #ff5722 !important;
    border: solid 1px #ff5722 !important;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 1.7em;
    height: 1.7em;
    opacity: 0;
}

    .calendarDay-btn svg {
        margin: 0 5px 5px -4px;
    }

.not-workday {
    background-color: #D8F0FF;
}

.border-calendar-day {
    border: solid 1px #10a3fb;
}

    .border-calendar-day:hover .calendarDay-btn {
        opacity: 1;
    }

    #calendar > tbody > tr td:first-child {
        border-left: none !important;
    }

#calendar > tbody > tr td:last-child {
    border-right: none !important;
}

.tab-pane {
    margin-bottom: 0 !important;
    border-bottom: none !important;
}

.input-minute {
    display: inline-block;
    margin-right: 1em;
}
