.small-text {
    font-size: 0.8em;
}

#cyclePlanning-textarea {
    height: 25em;
}

.number-icon {
    width: 2.5em;
    height: 2.5em;
}

.number-icon > h5 {
    margin-top: 0.25em;
}

    /*.number-icon > h5 {
        margin-top: 0.9em;
        padding-left: 0.65em;
        width: 2.3em;
        height: 2.3em;
    }

    .number-icon > h5 {
        padding-top: 0.25em;
        margin-left: -0.0em
    }*/