.small-text {
    font-size: 0.8em;
}

#cyclePlanning-textarea {
    height: 25em;
}

.number-icon {

    min-width: 2.5em;
    min-height: 2.5em;
}

    .number-icon > h5 {
        padding-top: 0.35em;
    min-width: 2.3em;
    min-height: 2.3em;
}

    .number-icon > h5 {
        padding-top: 0.25em;
        margin-left: -0.0em
    }