.knowledge-item {
    padding-bottom: 0.5em;
    cursor: pointer;
}

.knowledge-item-description {
    font-size: 0.8em;
    padding-left: 0.5em;
}

.knowledgeItem-selected {
    background-color: #92D6FF;
    color: white;

    min-width: 2.5em !important;
    min-height: 2.5em !important;

}

.round-icon {
    min-height: 2.5em;
}

.border-knowledgeItem-selected {
    border: solid 1px #92D6FF !important;
}