.dot {
    height: 0.7em;
    width: 0.7em;
    border-radius: 50%;
    display: inline-block;
}

.color-bluescale-5 {
    background-color: #D17F90;
}

.color-bluescale-4 {
    background-color: #BF84AF;
}

.color-bluescale-3 {
    background-color: #B089CA;
}

.color-bluescale-2 {
    background-color: #A48FE1;
}

.color-bluescale-1 {
    background-color: #9C96F6;
}

.poll-select-container {
    width: 9%;
}

.card-body-sondagem {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.card-header-sondagem {
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.d-flex.line {
    border-bottom: 1px solid #DEDEDE;
}
.max-column-size{
    width:400px !important;
}

.d-flex.flex-column.align-items-end.flexsondagem{
    padding-left:25px;
}
.p-2.p-2sondagem{
    width:330px;
}
