.login-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #190078;
    overflow: hidden;
}

#login-logo {
    position: absolute;
    top: 4em;
    background-color: #7F22A4;
    width: 18em;
    height: 8em;
    border-radius: 1em;
}

#sgpIcon {
    width: 70%;
    height: 70%;
}

#white-board {
    background-color: white;
    width: 41em;
    height: 25em;
    border-radius: 1em;
}

.login-control {
    width: 18em;
}

#form {
    position: relative;
    top: 10em;
}

.login-icon {
    color: #1F61AC;
    font-size: 1.5em;
}

.vertical-spacing {
    height: 2em;
}
