#homeRoot {
    padding-top: 3.2em;
    padding-left: 3.2em;
    padding-right: 3.2em;
}

#changeClass {
    padding-top: 1em;
}

#changeClassTextBox {
    width: 35em;
}

#curriculoContent {
    padding-top: 2em;
}

.container-tabpanel {
    padding: 1em;
}

.container-tabpanel-content {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.spacing {
    width: 1em;
}

.vertical-spacing {
    height: 1em;
}

.vertical-spacing-2 {
    height: 2em;
}

.horizontal-rule {
    margin-top: 0;
    margin-left: 1em;
    margin-right: 1em;
}

.header-rule {
    margin-top: -0.1em;
}

.text-color-purple {
    color: #7C4DFF;
}

.tab-pane {
    margin-bottom: 3em;
}

/*Ajuste de Telas*/

.azul-ux {
    color: #10a3fb;
}

#breadcrumb {
    font-size: 0.9em;
    color: #000;

}

.bt-breadcrumb {
    font-size: 0.8em;
    color: #000;
    text-decoration: underline;
    padding-bottom: 6px;
    letter-spacing: 0.5px;
}

.bt-breadcrumb-azul {
    background-color: #10a3fb;
    border: solid 1px #10a3fb;
}

.border-azul {
    border: solid 1px #10a3fb !important;
}

.border-azul-2px {
    border: solid 2px #10a3fb !important;
}

.titulo-breadcrumb {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 0.8em;
}

/*.nav-link:hover{
    border:solid 1px #fff !important;
}
.nav-link.active {
    border-bottom: solid 10px #10a3fb !important;
    margin-bottom: -5px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    font-weight: bold;
    color: #10a3fb !important;
}

*/
.nav-link {
    padding: 0 1rem !important;
}

.nav-link:hover {
    border: solid 1px #fff !important;
}

.nav-link.active {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    font-weight: bold;
    color: #10a3fb !important;
    text-align: center;
}

.nav-link.active::after {
    content: " ";
    width: 100%;
    height: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    background-color: #10a3fb;
    margin-bottom: -13px !important;
    padding: 0 1rem;
}

@media (min-width: 768px) {
    #changeClassTextBox {
        margin-right: 5px;
    }

}


@media (max-width: 768px) {
    #changeClassTextBox {
        margin-bottom: 5px;
    }

    #curriculoContent ul li a{
        font-size: 0.8em;
        padding-left: 5px !important;
        padding-right: 5px !important;

    }


}

