.knowledge-item {
    padding-bottom: 0.5em;
    cursor: pointer;
}

.knowledge-item-description {
    font-size: 0.8em;
    padding-left: 0.5em;
}

.knowledgeItem-selected {
    background-color: #92D6FF;
    color: white;
}