.objective-item-span {
    padding-left: 2em !important;
    padding-right: 2em !important;
}

.objectiveItem-label {
    padding-right: 1em;
}

.objective-item {
    padding-bottom: 0.5em;
    cursor: pointer;
}

.edit-icon-50 {
    width: 2.5em;
    height: 2.5em;
}

.MyObjective-label > img {
    padding-left: 0.5em;
}

.objectiveItem {
    background-color: #92D6FF;
    color: white;
}
