.poll-select {
    background-color: white;
    font-size: 0.7em;
    color: lightgray;
}

    .poll-select option.bg-bluescale-1 {
        background-color: #9C96F6;
    }

    .poll-select.opt-1 {
        background-color: #9C96F6;
    }