.poll-select {
  background-color: white;
  font-size: 0.7em;
  color: lightgray;
}
.poll-select-n {
  background-color: #0077BE;
  font-size: 0.7em;
  color: white;
}
.poll-select-s {
  background-color: #0077BE;
  font-size: 0.7em;
  color: white;
}

.text-white.bg-bluescale-alfabetizacao-b {
  background-color: #0077BE;
  width: 60px;
}
.poll-select.opt {
  background-color: #0077BE;
}
.custom-select.custom-select-sm {
  width: 60px;
}
